@media screen and (min-width: 400px) {

    .white-box {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid var(--grey);
        border-radius: 10px;
        box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.1);
        padding: 10px 30px;
        box-sizing: border-box;
        flex-shrink: 0;
        flex-grow: 1;
        margin: 20px 10px 10px;
    }


    .login-box {
        max-width: 25vw;
        min-width: fit-content;
        min-height: 30vh;
        gap: 30px;
        margin-top: 50px;
    }

    .register-box {
        display: flex;
        flex-direction: column;
        max-width: 80vw;
        height: auto;
        overflow: hidden;
    }

    .group-members {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: fit-content;
        width: 70vw;
    }

    .sent-message {
        max-height: fit-content;
        width: 70vw;
    }

    .message-board {
        width: 70vw;
        height: auto;
        overflow: hidden;
        min-height: fit-content;
    }

    .assignment-box {
        width: 80vw;
        height: fit-content;
        display: flex;
    }

    .reading-box {
        width: 70vw;
        min-height: fit-content;
        gap: 30px;
        justify-content: flex-start;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 900px) {

    .assignment-box {
        width: 35vw;
    }

    .register-box {
        max-width: 45vw;
    }

    .group-members {
        width: 40vw;
    }

    .sent-message {
        width: 40vw;
    }

    .message-board {
        width: 40vw;
    }

    .reading-box {
        max-width: 35vw;
    }
}
