@media screen and (min-width: 576px) {

.page-body {
          background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)), url("../../assets/images/Achtergrond login en registreer.png");
          background-size: auto;
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;
          overflow-y: hidden;
}

.form-login {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
  }
}