@media screen and (min-width: 400px) {

    .page-body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)), url("../../assets/images/Achtergrond login en registreer.png");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 100vw;
        min-height: 90vh;
    }

    .form-login {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
}

