@media screen and (min-width: 576px) {

    .page-body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)), url("../../assets/images/Backgorunimagegroups.png");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        min-height: 90vh;
    }

    .two-boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 60vh;
        width: 100%;
        margin: 100px;
    }
}

@media screen and (min-width: 1000px) {

    .two-boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}