@media screen and (min-width: 400px) {

    .inner-box {
        display: flex;
        flex-direction: column;
        background-color: var(--lightgold);
        border: 1px solid var(--grey);
        border-radius: 10px;
        padding: 10px 30px;
        box-sizing: border-box;
    }

    .sent-message {
        width: 60vw;
        height: fit-content;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .assignment-box {
        width: 40vw;
        height: auto;
    }

    .assignment-readingpage {
        width: 60vw;
        min-height: 50px;
        max-height: fit-content;
    }

    .assignment-box-admin {
        margin: 4px;
    }
}

@media screen and (min-width: 600px) {

    .assignment-readingpage {
        min-height: 100px;
    }
}


@media screen and (min-width: 1000px) {
    .sent-message {
        width: 36vw;
        height: fit-content;
    }

    .assignment-readingpage {
        width: 30vw;
    }
}
