@media screen and (min-width: 576px) {

    .navigation-bar {
        display: flex;
        justify-content: space-between;
        background-color: var(--grey);
        width: 100%;
    }

    .navigation-text {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        flex-basis: 1100px;
        flex-shrink: 1;
        flex-grow: 0;
        font-size: 2em;
        font-family: "Dancing Script", serif;
        margin-top: 30px;
    }

    .logo {
        margin: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        max-width: 8em;
    }

    a,
    a:visited,
    a:link {
        text-decoration: none;
        color: black;
    }

    a:hover{
        color:var(--darkgold);
        text-decoration: none;
    }

   .active-menu-link {
       border-bottom: 2px solid black;
       transition: border-bottom 0.5s linear;
   }

    .default-menu-link {
        border-bottom: none;
    }
  }

