.input {
    width: 100%;
    height: 30px;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    background-color: var(--midgold);
    box-sizing: border-box;
}

.error-message {
    color: red;
}

.label {
    font-family: var(--font-family);
    font-weight: 100;
    box-sizing: border-box;
}

.input-photo {
    height: 40px;
}

.input-message {
    width: 100%;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    border-color: var(--lightgold);
    background-color: var(--lightgold);
    box-sizing: border-box;
}

.input-uploadfield {
    height: 30px;
}

.input-bigger {
    width: 100%;
    height: 100px;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    background-color: var(--midgold);
    box-sizing: border-box;
    resize: vertical;
}

