.input {
    width: 100%;
    padding: 10px;
    color: black;
    margin-bottom:20px;
    background-color: var(--midgold);
    }

.error-message {
    color: red;
}

label {
    font-family: var(--font-family);
    font-weight: 100;
}