*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

/*hieronder aanpassen! */

:root {
  --default-margin: 16px;
  --purple:#5722CD;
  --blue:#4845E4;
  --lightpurple:#F2F0FF;
  --lightgrey:#F3F6F9;
  --grey:#7A7A7A;
  --font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h3, h5, h6 {
  font-family: 'Merriweather', serif;
}

body{
  font-family: var(--font-family);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 1.2em;
}
