@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Vollkorn:wght@500&display=swap');

@font-face {
  font-family: 'Dancing Script', serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn', serif;
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

:root {
  --default-margin: 16px;
  --lightgold:rgba(178, 151, 0, 0.1);
  --midgold:rgba(178, 151, 0, 0.25);
  --darkgold:rgba(178, 151, 0, 0.85);
  --grey: rgba(122, 122, 122, 0.06);
  --font-family: 'Vollkorn', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dancing Script', serif;
  color: black;
}

body{
  font-family: var(--font-family);
  font-size:14px;
}

h1 {
  font-size: 30px;
  padding: 16px 0;
}

h2 {
  font-size: 0.9em;
  padding: 12px 0;
}

h3{
  font-size: 0.6em;
  padding: 12px 0;
}

h4{
  font-size: 0.4em;
  padding: 12px 0;
}

p{
  margin:12px 0;
}

.outer-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height:85vh;
  width: 100%;
}

.inner-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  margin: 30px 0 30px;
}