@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Vollkorn:wght@500&display=swap');

@font-face {
  font-family: 'Dancing Script', serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn', serif;
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

:root {
  --default-margin: 16px;
  --lightgold:rgba(178, 151, 0, 0.1);
  --midgold:rgba(178, 151, 0, 0.25);
  --grey: rgba(122, 122, 122, 0.3);
  --font-family: 'Vollkorn', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dancing Script', serif;
  color: black;
}

body{
  font-family: var(--font-family);
  font-size:14px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 0.8em;
}
